@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  @apply m-0 p-0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.root-container {
  @apply max-w-pageContent my-0 mx-auto py-0 px-5 box-border;
}

p {
  @apply text-base/5;
}

.paper-stack::after {
  content: "";
  @apply bg-item-paper-dark w-full h-full rounded-full transform translate-x-0 translate-y-[8px] absolute -z-50 top-0;
}

.rock-stack::after {
  content: "";
  @apply bg-item-rock-dark w-full h-full rounded-full transform translate-x-0 translate-y-[8px] absolute -z-50 top-0;
}

.scissors-stack::after {
  content: "";
  @apply bg-item-scissors-dark w-full h-full rounded-full transform translate-x-0 translate-y-[8px] absolute -z-50 top-0;
}

.lizard-stack::after {
  content: "";
  @apply bg-item-lizard-dark w-full h-full rounded-full transform translate-x-0 translate-y-[8px] absolute -z-50 top-0;
}

.spock-stack::after {
  content: "";
  @apply bg-item-spock-dark w-full h-full rounded-full transform translate-x-0 translate-y-[8px] absolute -z-50 top-0;
}

@screen md {
  .root-container {
    @apply py-0 px-7.5;
  }

  p {
    @apply text-lg/5;
  }
}

@screen lg {
  .root-container {
    @apply py-0 px-12.5;
  }

  p {
    @apply text-2xl/7;
  }
}
